<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Booking</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Edit Booking</h1>
<form action="/bookings/<%= foundBooking._id %>?_method=PUT" method="POST">
    
          Home Number:
          <input type="text" name="home" value="<%= foundBooking.home %>" required />

           Road:
            <input type="text" name="road" value="<%= foundBooking.road %>" required />

       Street:
         <input type="text" name="street" value="<%= foundBooking.street %>" required />

       Date:
            <input type="date" name="date" value="<%= foundBooking.date %>" required />

       Time:
           <input type="time" name="time" value="<%= foundBooking.time %>" required />

        <!-- Special Recommendation:
        <textarea name="recommendation" required><%= foundBooking.recommendation %></textarea> -->

                 <button type="submit">Update Booking</button>
</form>    
</body>
</html>