<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salon App</title>
</head>
<body>
    <h1>All My Bookings</h1>
    <a href="/bookings/new">Create New Booking</a>

    <% if (allBookings.length === 0) { %>
        <p>No booking found</p>
    <% } else { %>
        <ul>
            <% allBookings.forEach((item) => { %>
                <li>
                    Services <%= item.services %><br/>
                    Address: Home <%= item.home %>, Road <%= item.road %>, Street <%= item.street %><br/>
                   
                    Date:<%= item.date %><br/>
                    
                   Time: <%= item.time %><br/>
                    Note: <%= item.recommendation %><br/>

                    <a href="/bookings/<%= item._id %>/edit">Edit</a>


                    <form action="/bookings/<%= item._id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                </li>
                <br/>
            <% }) %>
        </ul>
    <% } %>

    <a href="/">Home</a>
</body>
</html>