<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salon App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>All My Bookings</h1>

  
                    Services <%= foundBooking.services %><br/>
                    Address: Home <%= foundBooking.home %>, Road <%= foundBooking.road %>, Street <%= foundBooking.street %><br/>
                   
                    Date:<%= foundBooking.date %><br/>
                    
                   Time: <%= foundBooking.time %><br/>
                    Note: <%= foundBooking.recommendation %><br/>

                    <a href="/bookings/<%= foundBooking._id %>/edit">Edit</a>


                    <form action="/bookings/<%= foundBooking._id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                </li>
                <br/>

                <section>
        <h2>Favorites</h2>
        <% if(foundBooking.favoritedByUsers.length === 0){%>
            <p> No one Favorites this service yet</p>

        <%} else if (foundBooking.favoritedByUsers.length === 1) {%>
            <p>Favorites by <%=foundBooking.favoritedByUsers.length%> person</p>
            <%} else{ %>
                <p>Favorites by <%=foundBooking.favoritedByUsers.length%> people</p>
                <%}%>



                <%if(userHasFavorited){%>
                    <form action="/bookings/<%= foundBooking._id%>/favorited-by/<%=user._id%>?_method=DELETE" method="POST">
                    <button type="submit">❌</button>

                    </form>
                      <%} else{%>
                    <form action="/bookings/<%= foundBooking._id %>/favorited-by/<%= user._id%>" method="POST">
                     <button type="submit">♥️</button>   
                    </form>
                    <%}%>
                </section>

                <section>
                    <h2>Questions about this service</h2>
                    <form action="/bookings/<%= foundBooking._id%>/questions" method="POST">
                        <textarea name="text" rows="4" required></textarea>
                        <button type="submit">Ask questions</button>
                    </form>
                    <h3>Questions from the users</h3>
                    <%foundBooking.questions.forEach((item)=>{%>
                        <p><%=item.text%></p>
                        <p> <%item.user.username%></p> 
                    <%}) %>

                </section>


    <a href="/">Home</a>
</body>
</html>